body {
  font-family: Arial, sans-serif;
  background-color: #f28705;
  margin: 0;
  padding: 0;
}
h2 {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.logout-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: white;
  /* color: black; */
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.logout-btn img {
  width: 26px;
}
.orders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}
.order-container {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.order-number {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.order-items {
  margin-bottom: 10px;
}
.order-comment {
  background: #ffcc00;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.ready-btn {
  background: green;
  color: white;
  padding: 8px;
  margin-top: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.ready-btn:hover {
  background: darkgreen;
}